#body_content > * {
    display:inline-block;
}

#body_content > *:nth-child(1) {
    width: 25%;
}


#body_content > *:nth-child(2) {
    width: 49%;
}

#body_content > *:nth-child(3) {
    width: 25%;
}

header, footer {
    text-align: center;
}